[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open-autonomy = {version = "==0.12.0", extras = ["all"]}
open-aea = {version = "==1.38.0", extras = ["all"]}
open-aea-ledger-ethereum = "==1.38.0"

[dev-packages]
tomte = {version = "==0.2.13", extras = ["tests", "cli"]}

[requires]
python_version = "3.10"
